@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
    box-sizing: border-box;
    font-family: Raleway;
  }
  body {
    padding: 20px;
    background: #d3d5db;
  }
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-color: white;;
  }
  .leftcolumn { 
    display: flex; 
    flex-direction: column; 
    width: 60%;
    padding-left: 10%;
  }
  .rightcolumn {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 25%;

  }
  .card {
     background-color: rgb(247, 255, 250);
     width: 90%;
     height: 50%;
     padding: 20px;
     margin-top: 20px;
  }
  .row{
    display: flex;
    flex-direction:row;
    align-content: center;
    
  }
  .images-big{
      display: flex;
      width: 600px;
      height: 350px;
  }
  .images-small{
      width: 140px;
      height: 140px;
      border-radius: 50%;
  }
  p{
      font-size: 20px;
  }
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(138, 165, 149);
    margin-top: 20px;
  }
  .button{
      border-radius: 1.3em;
      border: rgb(187, 187, 221) solid 2px;
      background-color: white;
      width: 100px;
      height: 30px;
  }
  .button:hover{
      background-color: rgb(221, 217, 217);
      cursor: pointer;
  }
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
